* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --primary-color-1: #F05AA1;
    --primary-color-2: #94D2C3;
    --primary-color-3: #DFBA45;
}

html {
    background: #F3F0E1;
    scroll-behavior: smooth;
}

#products, #about-us, #faq, #rate-us {
    scroll-margin-top: min(50px, 10vh);
}

#contact-us {
    scroll-margin-bottom: min(50px, 10vh);
}

/* Navigation Bar Styles */

nav {
    background-color: white;
    display: flex;
    height: min(80px, 10vh);
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(0);
    transition: transform 0.55s ease;
}

.logo {
    height: clamp(40px, 5vw, 60px);
    margin: auto clamp(20px, 4vw, 50px);
}

#menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-left: 0;
}

.nav-links li {
    margin: auto 0px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    padding: clamp(0.5rem, 0.6vw, 1rem) clamp(1rem, 2.5vw, 2rem);
    font-weight: 500;
    border-right: 1px solid black;
    transition: color 0.3s ease;
}

.nav-links li:first-child a {
    padding-left: 0;
    padding-right: clamp(1rem, 2.2vw, 2rem);
}

.nav-links li:last-child a {
    border-right: none;
}

.nav-links a:hover {
    color: #DFBA45;
}

.nav-button {
    background-color: var(--primary-color-1);
    text-decoration: none;
    color: white;
    border: none;
    padding: clamp(0.5rem, 0.8vw, 1rem) clamp(1rem, 2vw, 2rem);
    margin: auto 50px;
    cursor: pointer;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    font-weight: 500;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-left: auto;
    right: 0;
}

.nav-button:hover {
    background-color: #cd4886;
}

/* Header Styles */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: clamp(40px, 4vh, 100px) clamp(20px, 5vw, 80px) clamp(20px, 3vh, 50px);
    padding-top: clamp(70px, 6vh, 150px);
    background: linear-gradient(135deg, #F3F0E1 75%, #DFC95E);
}

.header-content {
    width: 40%;
    text-align: left;
}

.header-content h1 {
    font-size: clamp(1.5rem, 3vw, 4rem);
    line-height: clamp(2.2rem, 3.8vw, 4.5rem);
}

.header-content p {
    font-size: clamp(0.9rem, 1.3vw, 1.5rem);
    margin-top: 20px;
    width: clamp(80%, 90%, 100%);
}

.order-button {
    display: inline-block;
    background-color: var(--primary-color-1);
    color: white;
    text-decoration: none;
    padding: clamp(0.5rem, 0.8vw, 1rem) clamp(1rem, 2vw, 2rem);
    margin-top: 20px;
    border-radius: 10px;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.order-button:hover {
    background-color: #cd4886;
}

.header-socials {
    margin-top: clamp(10px, 1vh, 30px);
}

.header-content .fab {
    font-size: clamp(1.3rem, 2.1vw, 2.5rem);
    margin-top: 20px;
    margin-right: clamp(0.5rem, 1vw, 1.5rem);
    color: black;
    transition: color 0.3s ease;
}

.header-content .fab:hover {
    color: var(--primary-color-1);
}

.header-ice {
    color: var(--primary-color-2)
}

.header-cream {
    color: var(--primary-color-3)
}

.header-image {
    width: 60%;
}

.header-image img {
    width: 100%;
}

/* Products Section */

.products {
    padding: clamp(40px, 4vh, 100px) clamp(20px, 5vw, 80px) clamp(80px, 3vh, 50px);
    background: linear-gradient(55deg, #F3F0E1 75%, #DFC95E);
}

.products h2 {
    font-size: clamp(1.8rem, 2vw, 4rem);
    line-height: clamp(2.2rem, 3.8vw, 4.5rem);
    margin: clamp(20px, 3vh, 50px) 0;
}

.products h6 {
    color: #867028b7;
    font-size: clamp(0.7rem, 0.8vw, 1.5rem);
}

.products hr {
    border: none;
    border-top: 1.5px solid #867028;
    margin: clamp(20px, 3vh, 50px) 0;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: clamp(20px, 3vh, 50px);
    margin: clamp(20px, 3vh, 50px) 0;
}

.product-card {
    background-color: var(--card-color);
    border-radius: 10px;
    padding: clamp(20px, 3vh, 50px);
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: clamp(10px, 2vh, 30px);
}

.product-card h3 {
    font-size: clamp(1.1rem, 1.5vw, 2rem);
    margin-bottom: clamp(10px, 2vh, 30px);
}

.product-card p {
    font-size: clamp(0.8rem, 1vw, 1.5rem);
}

.mango-cheese {
    --card-color: #fdff99;
}

.cookies-cream {
    --card-color: #d6ffff;
}

.ube-quezo {
    --card-color: #e0d6ff;
}

.buko-cheese {
    --card-color: #d6ffdc;
}

.chocolate {
    --card-color: #f0d1b8;
}

.strawberry-quezo {
    --card-color: #ffe0e0;
}

/* About Us Section */

.about-us {
    padding: clamp(40px, 4vh, 100px) clamp(20px, 5vw, 80px) clamp(20px, 3vh, 50px);
    background: #F3F0E1;
}

.about-us h2 {
    font-size: clamp(1.8rem, 2vw, 4rem);
    line-height: clamp(2.2rem, 3.8vw, 4.5rem);
    margin: clamp(20px, 3vh, 50px) 0;
}

.about-us hr {
    border: none;
    border-top: 1.5px solid #867028;
    margin: clamp(20px, 3vh, 50px) 0;
}

.about-us h3 {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    margin-bottom: clamp(20px, 3vh, 50px);
    width: clamp(280px, 80%, 800px);
    margin: auto;
    margin-top: clamp(20px, 6vh, 50px);
}

.about-us p {
    font-size: clamp(0.8rem, 1.1vw, 1.5rem);
    line-height: clamp(1.2rem, 1.8vw, 2rem);
    width: clamp(280px, 80%, 800px);
    margin: clamp(20px, 3vh, 50px) auto;
    text-align: justify;
}

.about-image {
    width: clamp(280px, 80%, 800px);
    height: clamp(150px, 30vh, 400px);
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: clamp(20px, 3vh, 50px) auto;
}

/* FAQ Section */

.faq {
    padding: clamp(40px, 4vh, 100px) clamp(20px, 5vw, 80px) clamp(20px, 3vh, 50px);
}

.faq h2 {
    font-size: clamp(1.8rem, 2vw, 4rem);
    line-height: clamp(2.2rem, 3.8vw, 4.5rem);
    margin: clamp(20px, 3vh, 50px) 0;
}

.faq-content {
    display: flex;
    flex-direction: row;
    gap: clamp(20px, 3vh, 50px);
    margin-top: clamp(20px, 3vh, 50px);
    margin-bottom: clamp(20px, 3vh, 50px);
}

.faq-image {
    flex: 1;
}

.faq-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.faq-questions {
    flex: 1;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.faq-button {
    width: min(100%, 500px);
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: left;
    padding: clamp(12px, 1vh, 30px);
    margin-bottom: clamp(10px, 1vh, 30px);
    font-size: clamp(0.75rem, 1vw, 1.5rem);
    background-color: #eee4bb;
    border-radius: 10px;
    border: none;
}

.faq-button:hover {
    cursor: pointer;
}

.faq-button::after {
    content: "▼";
    float: right;
    transition: transform 0.3s ease;
}

.faq-button.active::after {
    transform: rotate(180deg);
    color: white;
}


.faq-button.active {
    background-color: var(--primary-color-1);
    color: white;
}

.faq-button.active + .faq-answer {
    max-height: 200px; 
}

.faq-answer p {
    padding: clamp(10px, 1vh, 30px);
    padding-bottom: clamp(20px, 3vh, 50px);
    font-size: clamp(0.8rem, 1vw, 1.5rem);
}

/* Rate Us Section */

.rate-us {
    padding: clamp(40px, 4vh, 100px) clamp(20px, 5vw, 80px) clamp(20px, 3vh, 50px);
    justify-content: center;
    text-align: center;
    background: #F3F0E1;
}

.rate-us h2 {
    font-size: clamp(1.8rem, 2vw, 4rem);
    line-height: clamp(2.2rem, 3.8vw, 4.5rem);
    margin: clamp(20px, 3vh, 50px) 0;
}

.rate-us p {
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    margin-top: clamp(20px, 3vh, 50px);
    width: clamp(280px, 80%, 800px);
    margin-left: auto;
    margin-right: auto;
}

.rate-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: clamp(10px, 1vh, 30px);
    margin-top: clamp(20px, 3vh, 50px);
}

.rate-form input {
    display: inline-block;
}

.name-field, .email-field {
    padding: clamp(0.5rem, 0.8vw, 1rem) clamp(0.5rem, 0.5vw, 1rem);
    border-radius: 10px;
    border: none;
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
    width: clamp(300px, 60%, 500px);
}

.feedback-field {
    padding: clamp(0.5rem, 0.8vw, 1rem) clamp(0.5rem, 0.5vw, 1rem);
    border-radius: 10px;
    border: none;
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
    width: clamp(300px, 60%, 500px);
    height: clamp(100px, 20vh, 200px);
    resize: none;
}

.rate-button {
    background-color: var(--primary-color-1);
    color: white;
    border: none;
    padding: clamp(0.5rem, 0.8vw, 1rem) clamp(1rem, 2vw, 1.5rem);
    border-radius: 10px;
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 150px;
}

.rate-button:hover {
    background-color: #cd4886;
}


/* Footer Section */

footer {
    background-color: #231b02;
    margin-top: clamp(40px, 4vh, 100px);
    flex-direction: row;
    display: flex;
    align-items: start;
    min-width: 100%;
}

.footer-content {
    color: white;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    flex: 1;
    padding: clamp(40px, 3vh, 50px) clamp(20px, 3vh, 50px);
    float: right;
}

.footer-content h3 {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    margin-bottom: clamp(20px, 3vh, 50px);
}

.footer-content p {
    margin-bottom: clamp(10px, 2vh, 30px);
    font-size: clamp(0.7rem, 0.9vw, 1.5rem);
}

.footer-content a {
    color: white;
    text-decoration: none;
    font-size: clamp(0.7rem, 0.9vw, 1.5rem);
    transition: color 0.3s ease;
    margin-bottom: clamp(10px, 2vh, 30px);
    display: inline-block;
}

.footer-content a:hover {
    color: var(--primary-color-1);
}

.quick-links a {
    display: block;
}

.newsletter {
    flex: 2.5;
    padding-left: clamp(20px, 3vw, 80px);
}

.newsletter-form {
    display: flex;
    gap: clamp(10px, 1vh, 30px);
    margin: clamp(20px, 3vh, 50px) 0;
}

.newsletter-field {
    padding: clamp(0.5rem, 0.8vw, 1rem) clamp(0.5rem, 0.5vw, 1rem);
    border-radius: 10px;
    width: clamp(230px, 60%, 400px);
    border: none;
    display: inline-block;
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
}

.newsletter-button {
    background-color: var(--primary-color-1);
    color: white;
    border: none;
    padding: clamp(0.5rem, 0.8vw, 1rem) clamp(1rem, 2vw, 1.5rem);
    border-radius: 10px;
    font-size: clamp(0.8rem, 0.9vw, 1.5rem);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 150px;
}

.newsletter-form button:hover {
    background-color: #cd4886;
}

.footer-socials {
    margin-top: clamp(15px, 2vh, 30px);
}

.footer-socials .fab {
    font-size: clamp(1.1rem, 1.5vw, 2.2rem);
    margin-right: clamp(0.5rem, 1vw, 1.5rem);
    color: white;
    transition: color 0.3s ease;
}

.footer-socials .fab:hover {
    color: var(--primary-color-1);
}

@media (min-width: 1600px) {
    /* Products Section */

    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: clamp(50px, 3vh, 50px) auto;
        width: min(1200px, 80%);
    }
}

@media (max-width:900px) {
    /* Footer Section */

    .newsletter-form {
        flex-direction: column;
    }
}

@media (max-width: 690px) {

    /* Navigation Bar Styles */

    .nav-button {
        display: none;
    }

    /* Products Section */

    .products {
        padding: clamp(40px, 4vh, 100px) clamp(20px, 5vw, 80px) clamp(80px, 3vh, 50px);
        background: linear-gradient(55deg, #F3F0E1 99%, #DFC95E);
    }

    /* Header Styles */

    header {
    flex-direction: column;
    align-items: center;
    padding: clamp(100px, 10vh, 150px) clamp(30px, 5vw, 80px) clamp(20px, 3vh, 50px);
    }

    .header-content {
    width: 100%;
    text-align: center;
    }

    .header-content h1 {
    font-size: clamp(1.8rem, 3vw, 4rem);
    line-height: clamp(2.2rem, 3.8vw, 4.5rem);
    }

    .header-content p {
    font-size: clamp(0.9rem, 1.5vw, 2rem);
    margin-top: 20px;
    width: 100%;
    }

    .header-content .fab {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    margin-top: 20px;
    margin-bottom: clamp(20px, 3vh, 50px);
    margin-right: clamp(0.5rem, 1vw, 1.5rem);
    }

    .header-image {
    width: 100%;
    }

    /* Products Section */

    .products {
        padding: clamp(40px, 4vh, 100px) clamp(20px, 5vw, 80px) clamp(80px, 3vh, 50px);
        background: linear-gradient(55deg, #F3F0E1 75%, #DFC95E);
    }

    /* FAQ Section */

    .faq-content {
        flex-direction: column;
    }

    /* Footer Section */

    footer {
        flex-direction: column;
        padding: clamp(40px, 3vh, 50px) clamp(20px, 5vw, 80px) 15px;
    }

    .footer-content {
        width: 100%;
        padding: clamp(20px, 3vh, 50px);
        align-items: center;
        text-align: center;
    }

    .newsletter-form {
        flex-direction: column;
        align-items: center;
    }

    .footer-content p {
        margin-bottom: clamp(15px, 2vh, 30px);
        font-size: clamp(0.9rem, 0.9vw, 1.5rem);
    }

    .footer-content a {
        margin-bottom: clamp(15px, 2vh, 30px);
        font-size: clamp(0.9rem, 0.9vw, 1.5rem);
    }

    .footer-socials {
        margin-top: clamp(20px, 3vh, 50px);
    }

    .trademark {
    text-align: center;
    margin: clamp(30px, 3vh, 50px) auto;
}
}

@media (max-width: 475px) {

    /* Navigation Bar Styles */

    #menu-toggle {
    display: block;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: clamp(20px, 3vw, 50px);
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    font-weight: 500;
    }

    .nav-links {
        position: absolute;
        top: clamp(0px, 10vh, 100px);
        padding: clamp(20px, 2vh, 50px) clamp(20px, 3vw, 80px);
        right: 0;
        width: 100%;
        flex-direction: column;
        background: #f3f3f3;
        z-index: 99;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .nav-links li {
        margin: clamp(4px, 1vh, 20px) 0;
        border-bottom: 1px solid gray;
    }

    .nav-links li a:first-child {
        padding-left: clamp(0.5rem, 0.1vw, .05rem);
    }

    .nav-links li a {
        border-right: none;
        font-size: clamp(0.9rem, 2vw, 3rem);
    }

    .nav-links.active {
        opacity: 1;
    }

    .nav-button {
        display: none;
    }

    /* Products Section */

    .products {
        padding: clamp(40px, 4vh, 100px) clamp(20px, 5vw, 80px) clamp(80px, 3vh, 50px);
        background: linear-gradient(55deg, #F3F0E1 90%, #DFC95E);
    }

    /* Footer Section */

    footer {
        flex-direction: column;
    }

    .footer-content {
        width: 100%;
        padding: clamp(20px, 3vh, 50px);
    }

    .footer-content h3 {
        font-size: clamp(1.6rem, 1.5vw, 2rem);
        margin-bottom: clamp(20px, 3vh, 50px);
    }

    .footer-content p {
        margin-bottom: clamp(15px, 2vh, 30px);
        font-size: clamp(0.9rem, 0.9vw, 1.5rem);
    }

    .footer-socials {
        margin-top: clamp(20px, 3vh, 50px);
    }
}